@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=PT+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
}

body {
	background-color: #1E2532;
	color: #F3F9FF;
}