@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=PT+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
}

body {
	background-color: #1E2532;
	color: #F3F9FF;
}

.header {
	margin: 2vh 0 0 2vw;
}

.logo {
	font-weight: 300;
	font-size: 2.5vw;
	/* background-image: linear-gradient(90deg, red, blue); */
	/* background-clip: text; */
	/* color: transparent; */
}

.content {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.words {
	font-family: 'PT Mono', monospace;
	font-size: 2vw;
}

#caret {
	color: #F3F9FF;
	font-size: 2.5vw;
}

.state-0 {
	opacity: 50%;
}

.state-1 {
	opacity: 100%;
}

.state-2 {
	opacity: 100%;
	color: red;
}